@import "tailwindcss";

/* Esto es para que el @apply funcione en la v4 */
@layer components {
  .input-sharp {
    @apply bg-transparent border-2 border-current p-4 font-black uppercase outline-none transition-all;
    /* Si da error en focus:border, lo ponemos manual para asegurar */
  }
  
  .input-sharp:focus {
    border-color: #ea580c; /* el naranja-600 */
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'Inter', sans-serif;
}

/* Quitar scrollbars */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}